[submodule "plugins/acl_extras"]
	path = plugins/acl_extras
	url = git://github.com/markstory/acl_extras.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = git://github.com/cakephp/debug_kit.git
